﻿
<div id="modal-add-update-department" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title" style="margin-left: auto;">Thêm/Sửa phòng ban</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmDepartment">
                        <input type="hidden" id="hidIdM" value="0" />
                        <input type="hidden" id="hidIdDepartment" value="" />
                       
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Mã</label>
                            <div class="col-sm-6">
                                <input id="txtDepartmentCode"  class="form-control" name="txtDepartmentCode" value="">
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Tên</label>
                            <div class="col-sm-6">
                                <input id="txtDepartmentName"  class="form-control" name="txtDepartmentName" value="">
                            </div>
                        </div>
                       
                      


                    </form>
                    <div class="item form-group" style="float:right;margin-top:10px">
                        <button type="button" id="btnSave" class="btn btn-light" style="background:#52BAAF;width:100px;color:white;border-color: #52BAAF;">Lưu</button>
                        <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-light" style="background:#DE593E;width:100px;color:white;border-color: #DE593E;">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
