﻿@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/app/Controllers/user/user.js"></script>
<div class="page-title">
    <div class="title_left" style="margin-bottom:30px;margin-left:10px;margin-top:10px">
        <h3>Thông tin tài khoản</h3>
    </div>

    <div class="col-md-12">
        <div class="modal-body">
            <div id="horizontal-form">
                <form class="form-horizontal" role="form" id="frmAccount">
                    <input type="hidden" id="hidIdM" value="0" />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">Tên đăng nhập</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtUserName" required class="form-control" name="txtUserName" value="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Tên người dùng</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtName" required class="form-control" name="txtName" value="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Tên doanh nghiệp</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtCompany" required class="form-control" name="txtCompany" value="" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Địa chỉ</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtAddress" required class="form-control" name="txtAddress" value="" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Email</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtEmail" required class="form-control" name="txtEmail" value="" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Số điện thoại</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtPhone" required class="form-control" name="txtPhone" value="" type="number" disabled>
                            </div>
                        </div>
                    </div>



                </form>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnChangePass" class="btn btn-outline-primary waves-effect">Đổi mật khẩu</button>
                        <button type="button" id="btnUpdate" class="btn btn-primary">Chỉnh sửa</button>
                        <button type="button" id="btnSave" class="btn btn-primary" hidden>Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" id="change_pass" hidden>
        <div class="modal-body">
            <div id="horizontal-form">
                <form class="form-horizontal" role="form" id="frmChangePass">
                    <input type="hidden" id="hidIdM" value="0" />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">Mật khẩu cũ</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtPass" required class="form-control" name="txtPass" value="" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Mật khẩu mới</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtPassNew" required class="form-control" name="txtPassNew" value="" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Nhập lại mật khẩu mới</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtPassNewRetype" required class="form-control" name="txtPassNewRetype" value="" type="password">
                            </div>
                        </div>
                    </div>

                </form>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnSavePass" class="btn btn-primary">Lưu</button>
                        <button type="button" id="btnCancel" class="btn btn-danger">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var user = new userController();
    user.initialize();
</script>


