﻿@{ ViewData["Title"] = "Lịch làm việc";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />


<script src="~/app/Controllers/setting/faceshift.js" asp-append-version="true"></script>



<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Thiết lập > </a></li>
            <li class="active">Lịch làm việc</li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;width:60%">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Lịch làm việc</h2>
    </div>


</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="item form-group">
                                <label class="col-form-label col-md-4 col-sm-4 " for="last-name">
                                    Thiết lập ca
                                </label>
                                <div class="col-md-8 col-sm-8 ">
                                    <select id="ddlShift" class="form-control" name="ddlShift">
                                        <option value="">--Chọn--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <form class="form-horizontal" role="form" id="frmSearch">
                                <div class="col-sm-4">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 " for="last-name">
                                            Phòng ban
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <select id="ddlDepartment" class="form-control" name="ddlDepartment">
                                                <option value="">--Chọn--</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 " for="last-name">
                                            Tuần từ
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <input id="txtFromDate" class="form-control date-picker" name="txtFromDate" placeholder="dd/MM/yyyy">
                                            <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-4 col-sm-4 " for="last-name">
                                            Đến
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <input id="txtToDate" class="form-control date-picker" name="txtToDate" placeholder="dd/MM/yyyy" disabled>
                                            <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>

                        </div>
                        <div class="item form-group" style="float:right">

                            <button class="btn btn-light" type="button" id="btnSearch" style="float:right;color: #0b608b;margin-right:30px"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        </div>

                    </div>


                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">

                        <div box-body>

                            <div class="col-sm-12">

                                <div class="item form-group">
                                    <label class="col-form-label col-md-4 col-sm-4 " for="last-name">
                                        Phân công ca cho nhân viên
                                    </label>
                                    <div class="col-md-8 col-sm-8 ">
                                        <button class="btn btn-light" type="button" id="btnExport" style="float:right;color: #0b608b;"><i class="fa fa-download"></i> Xuất File</button>
                                    </div>
                                </div>
                                            <div class="x_content" style="overflow:auto">
                                                <table class="table table-striped table-bordered table-sm" id="table1">

                                                    <thead>
                                                        <tr style="text-align: center;background-color: #2e567b;color:white;">
                                                            <th rowspan="2" style="min-width:50px">STT</th>
                                                            <th rowspan="2" style="min-width:150px">Tên NV</th>
                                                            <th rowspan="2" style="min-width:80px">Mã NV</th>
                                                            <th colspan="2" style="min-width:100px">Thứ hai</th>
                                                            <th colspan="2" style="min-width:100px">Thứ ba</th>
                                                            <th colspan="2" style="min-width:100px">Thứ tư</th>
                                                            <th colspan="2" style="min-width:100px">Thứ năm</th>
                                                            <th colspan="2" style="min-width:100px">Thứ sáu</th>
                                                            <th colspan="2" style="min-width:100px">Thứ bảy</th>
                                                            <th colspan="2" style="min-width:100px">Chủ nhật</th>
                                                        </tr>
                                                        <tr style="text-align: center; background-color: #2e567b;color:white ">

                                                            <th colspan="1" style="min-width:100px" id="T2"></th>
                                                            <th colspan="1" style="min-width:80px">Suất ăn</th>
                                                            <th colspan="1" style="min-width:100px" id="T3"></th>
                                                            <th colspan="1" style="min-width:80px">Suất ăn</th>
                                                            <th colspan="1" style="min-width:100px" id="T4"></th>
                                                            <th colspan="1" style="min-width:80px">Suất ăn</th>
                                                            <th colspan="1" style="min-width:100px" id="T5"></th>
                                                            <th colspan="1" style="min-width:80px">Suất ăn</th>
                                                            <th colspan="1" style="min-width:100px" id="T6"></th>
                                                            <th colspan="1" style="min-width:80px">Suất ăn</th>
                                                            <th colspan="1" style="min-width:100px" id="T7"></th>
                                                            <th colspan="1" style="min-width:80px">Suất ăn</th>
                                                            <th colspan="1" style="min-width:100px" id="T8"></th>
                                                            <th colspan="1" style="min-width:80px">Suất ăn</th>
                                                        </tr>

                                                    </thead>
                                                    <tbody id="tbl-face-shift">
                                                    </tbody>
                                                </table>
                                                @*<script id="table-template-face-shift" type="x-tmpl-mustache">
                                                     <tr style="background-color: rgba(0,0,0,.00)">
                                                       <td style="text-align: center;">{{STT}}</td>
                                                        <td>{{StaffCode}}</td>
                                                        <td>{{FaceName}}</td>
                                                        <td> <select id="ddlShift" class="form-control" name="ddlShift">
                                                                            <option value="">--Chọn--</option>
                                                                        </select></td>
                                                        <td><input type="text" class="shiftface" value="{{Day2}}"/></td>
                                                        <td><input type="text" class="shiftface" value="{{Day3}}"/></td>
                                                        <td><input type="text" class="shiftface" value="{{Day4}}"/></td>
                                                        <td><input type="text" class="shiftface" value="{{Day5}}"/></td>
                                                        <td><input type="text" class="shiftface" value="{{Day6}}"/></td>
                                                        <td><input type="text" class="shiftface" value="{{Day7}}"/></td>


                                                    </tr>
                                                                                            </script>*@
                                                <!--Pagination-->

                                            </div>
                                       
                                <div class="item form-group" id="checkButton" style="float:right" hidden>

                                    <button type="button" id="btnSaveFaceCa" class="btn btn-light" style="background:#52BAAF;width:140px;color:white;border-color: #52BAAF;float:right">Xác nhận thực hiện</button>




                                </div>

                            </div>




                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/css/hover.css" rel="stylesheet" />
@*<link href="~/css/truong.css" rel="stylesheet" />*@
<div style="" id="loadingDiv"><div class="loader"></div></div>
<script>
    var faceshiftconfig = new faceshiftconfigController();
    faceshiftconfig.initialize();
</script>




