﻿@{ ViewData["Title"] = "Thiết lập công ca";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/lib/multiselect1/jquery.multiselect.css" rel="stylesheet" />
@*<link href="~/lib/jquery-easyui-1.7.6/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1.7.6/themes/icon.css" rel="stylesheet" />
    <script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>*@
<script src="~/lib/jquery/jquery.min.js"></script>

@*<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />*@


<script src="~/app/Controllers/setting/shift.js" asp-append-version="true"></script>



<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Thiết lập > </a></li>
            <li class="active">Thiết lập ca chấm công</li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;width:60%">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Thiết lập ca chấm công</h2>
    </div>


</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">

                        <div box-body>

                            <div class="col-sm-3">
                                <div class="x_panel">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-5 col-sm-5 " for="last-name">
                                            Thiết lập ca hiện có
                                        </label>
                                        @*<select id="ddlConfig" class="form-control" name="ddlConfig">
                                                <option value="">--Chọn--</option>
                                                <option value="0">Thông báo về ViberID</option>
                                                <option value="1">Bật báo động</option>
                                            </select>*@
                                        <div class="col-md-7 col-sm-7 form-group has-feedback">

                                            <button class="btn btn-light" type="button" id="btnAdd" style="float:right;color: #0b608b;"><i class="fa fa-plus"></i> Thêm thiết lập</button>

                                        </div>
                                    </div>
                                    <div class="item form-group">

                                        <div class="col-md-12 col-sm-12 ">
                                            <select id="ddlShift" class="form-control" name="ddlShift">
                                                <option value="">--Chọn--</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="x_panel">
                                    @*<form class="form-horizontal" role="form" id="frmAddShift">*@
                                        <div id="add-shift">
                                            <div class="item form-group" style="margin-top:10px">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="last-name">
                                                    Thời gian thực hiện
                                                </label>
                                            </div>

                                        </div>
                                        @*</form>*@
                                        <div class="item form-group" id="checkButton" hidden>
                                            <div class="col-md-5 col-sm-5 form-group has-feedback" style="float:left;">
                                                <button class="btn btn-light" type="button" id="btnDeleteCa" style="float:left;color: #0b608b;"> Xóa ca</button>
                                                <button class="btn btn-light" type="button" id="btnAddCa" style="float:left;color: #0b608b;"> Thêm ca</button>

                                            </div>
                                            <div class="col-md-6 col-sm-6 form-group has-feedback" style="float:right">
                                                <button type="button" id="btnSaveCa" class="btn btn-light" style="background:#52BAAF;width:140px;color:white;border-color: #52BAAF;float:right">Xác nhận thực hiện</button>
                                                <button type="button" id="btnCancelCa" class="btn btn-light" style="background:#DE593E;width:140px;color:white;border-color: #DE593E;float:right">Xóa thiết lập</button>

                                            </div>


                                        </div>
                                </div>
                               
                            </div>




                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_AddShift.cshtml")
@*<link href="~/css/truong.css" rel="stylesheet" />*@

<script>
    var shiftconfig = new shiftconfigController();
    shiftconfig.initialize();
</script>




