﻿
<div id="modal-event-add" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left: auto;">Thêm mới sự kiện</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmAddEvent">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 no-padding-right">Mã nhân viên</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <input id="txtStaffCode" class="form-control" name="txtStaffCode" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Thiết bị cam</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <select id="ddlDevice" class="form-control" name="ddlDevice">
                                        <option value="">--Chọn--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Ngày giờ vào - ra</label>
                                <div class="col-sm-5" style="margin-bottom:10px;">
                                    <input type="text" class="form-control date-picker" id="txtRecordTime" name="txtRecordTime" placeholder="dd/MM/yyyy">
                                    <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-4 col-sm-4 form-group has-feedback" style="margin-bottom:10px;">
                                    <input type="text" class="form-control" id="fromTimeAdd" name="fromTimeAdd" placeholder="00:00:00">

                                </div>
                            </div>


                        </div>

                    </form>
                    <div class="item form-group" style="float:right;margin-top:10px;">
                        <button type="button" id="btnSave" class="btn btn-light" style="background:#52BAAF;width:100px;color:white;border-color: #52BAAF;">Lưu</button>
                        <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-light" style="background:#DE593E;width:100px;color:white;border-color: #DE593E;">Hủy</button>
                    </div>

                </div>
                </div>
        </div>
    </div>
</div>
