﻿
<div id="modal-event-detail" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left: auto;">Xem chi tiết</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <input type="hidden" id="hidIdEvent" value="0" />
                    <form class="form-horizontal" role="form" id="frmUpdateEvent">
                        <div class="col-sm-4" id="imgdetail">

                        </div>
                        <div class="col-sm-8">
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 no-padding-right">Mã NV</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <input id="txtStaffCodeUpdate" class="form-control" name="txtStaffCodeUpdate" value="" disabled>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 no-padding-right">Tên</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <input id="txtFaceName" class="form-control" name="txtFaceName" value="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Ngày sinh</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <input id="txtAgent" class="form-control" name="txtAgent" value="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Nghề nghiệp</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <input id="txtJob" class="form-control" name="txtJob" value="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Giới tính</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <input id="txtSex" class="form-control" name="txtSex" value="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Độ quan trọng</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <input id="txtImportantLevel" class="form-control" name="txtImportantLevel" value="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Thiết bị cam</label>
                                <div class="col-sm-9" style="margin-bottom:10px;">
                                    <select id="ddlDeviceUpdate" class="form-control" name="ddlDeviceUpdate" disabled>
                                        <option value="">--Chọn--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Ngày giờ vào - ra</label>
                                <div class="col-sm-5" style="margin-bottom:10px;">
                                    <input type="text" class="form-control date-picker" id="txtRecordTimeUpdate" name="txtRecordTimeUpdate" placeholder="dd/MM/yyyy" disabled>
                                    <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-4 col-sm-4 form-group has-feedback" style="margin-bottom:10px;">
                                    <input type="text" class="form-control" id="fromTimeUpdate" name="fromTimeUpdate" placeholder="00:00:00" disabled>

                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="txtDescM" class=" no-padding-right">5 hình ảnh gần nhất</label>

                        </div>
                        <div class="form-group" id="imgTop5">

                        </div>
                    </form>
                    <div class="item form-group" style="float:right;margin-top:10px;" id="update" hidden>
                        <button type="button" id="btnUpdate" class="btn btn-light" style="background:#52BAAF;width:100px;color:white;border-color: #52BAAF;">Lưu</button>
                        <button type="button" id="btnCancel1" data-dismiss="modal" class="btn btn-light" style="background:#DE593E;width:100px;color:white;border-color: #DE593E;">Hủy</button>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
