﻿@{ ViewData["Title"] = "Sự kiện";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/lib/jquery/jquery.min.js"></script>
<link href="~/lib/multiselect1/jquery.multiselect.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<script src="~/app/Controllers/event/index.js" asp-append-version="true"></script>

<script src="~/lib/multiselect1/jquery.multiselect.js"></script>


<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Sự kiện > </a></li>
            <li class="active">Quản lý sự kiện</li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Quản lý sự kiện</h2>
    </div>


</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-3">

                        <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4">
                                Tìm sự kiện
                            </label>
                            <div class="col-md-8 col-sm-8 form-group has-feedback">

                                <select name="langOpt[]" multiple id="langOpt">
                                    <option value="1">Phát hiện khuôn mặt</option>
                                    <option value="2">Theo dấu khuôn mặt</option>
                                    <option value="3">Phát hiện biển số</option>
                                    <option value="4">Theo dấu biển số</option>
                                    <option value="5">Cảnh báo khuôn mặt</option>
                                    <option value="6">Cảnh báo biển số</option>
                                    <option value="7">Phát hiện xâm nhập</option>
                                    <option value="8">Phát hiện lảng vảng</option>
                                    <option value="9">Quản lý ra vào</option>
                                </select>

                            </div>
                            <!--<table class="table table-striped table-bordered table-sm">

                                <tbody id="tbl-event"></tbody>
                            </table>
                            <script id="table-template-event" type="x-tmpl-mustache">
                                <tr style="background-color: rgba(0,0,0,.00)">
                                    <td scope="row">
                                        <input type="checkbox" class="ckcheck1" data-id="{{EventId}}">
                                        {{EventName}}
                                    </td>
                                 <td scope="row">
                                        <input type="checkbox" class="ckcheck1" data-id="{{EventId1}}">
                                        {{EventName1}}
                                    </td>
                                </tr>
                            </script>-->

                        </div>

                        <!--Pagination-->

                    </div>
                    <div class="col-sm-5">

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 ">
                                Từ ngày
                            </label>
                            <div class="col-md-5 col-sm-5 form-group has-feedback">
                                <input type="text" class="form-control date-picker" id="fromDate" placeholder="dd/MM/yyyy">
                                <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>

                            </div>
                            <div class="col-md-4 col-sm-4 form-group has-feedback">
                                <input type="text" class="form-control" id="fromTime" placeholder="00:00:00">

                            </div>

                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3">
                                Đến ngày
                            </label>
                            <div class="col-md-5 col-sm-5 form-group has-feedback">
                                <input type="text" class="form-control date-picker" id="toDate" placeholder="dd/MM/yyyy">
                                <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>

                            </div>
                            <div class="col-md-4 col-sm-4 form-group has-feedback">
                                <input type="text" class="form-control" id="toTime" placeholder="00:00:00">

                            </div>

                        </div>
                        <!--Pagination-->

                    </div>
                    <div class="col-sm-4">

                        <div class="item form-group">
                            <label class="col-form-label col-md-5 col-sm-5">
                                Tìm theo ảnh
                            </label>


                            <div class="col-md-7 col-sm-7 form-group has-feedback">
                                <input type="file" id="inPutFile" name="inPutFile" />


                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-5 col-sm-5">

                            </label>
                            <div class="col-md-7 col-sm-7 form-group has-feedback" id="imgSearch">
                                <!--<img id="blah" src="#" alt="your image" style="width:100%;height:200px" />-->

                            </div>


                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-5 col-sm-5">
                                Tìm theo thông tin
                            </label>
                            <div class="col-md-7 col-sm-7 form-group has-feedback">

                                <input type="text" id="txtSearch" class="form-control ">

                            </div>


                        </div>


                        <div class="item form-group" style="float:right;">
                            <button class="btn btn-light" type="button" id="btnSearch" style="float:right;color: #0b608b;"><i class="fa fa-search"></i> Tìm kiếm</button>
                            <button class="btn btn-light" type="button" id="btnAdd" style="float:right;color: #0b608b;"><i class="fa fa-plus"></i> Thêm mới</button>

                        </div>

                    </div>





                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate1" style="float:right;">
            <ul class="paginationUL"></ul>
        </div>
    </div>
</div>
<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">

                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr style="text-align: center; background-color: #2e567b;color:white">
                                        <th style="min-width:50px">STT</th>
                                        <th>Đối tượng</th>
                                        <th style="min-width:150px">Thông tin đối tượng</th>
                                        <th style="min-width:150px">Loại sự kiện</th>
                                        <th style="min-width:100px">Thiết bị phát hiện</th>
                                        <th style="min-width:150px">Thời gian ghi lại</th>
                                        <th style="min-width:100px">Tùy chọn</th>

                                    </tr>
                                </thead>
                                <tbody id="tbl-statistical-event"></tbody>
                            </table>
                            <script id="table-template-statistical-event" type="x-tmpl-mustache">
                                <tr style="background-color: rgba(0,0,0,.00)">
                                    <td style="text-align:center">{{{STT}}}</td>
                                    <td><img src="{{Base64ContentUrl}}" alt="" height=50 width=80 /></td>
                                    <td>{{FaceName}}</td>
                                    <td>{{EventType}}</td>
                                    <td>{{DeviceName}}</td>
                                    <td>{{RecordTime}}</td>
                                    <td scope="row" style="text-align: center;">
                                        @*<button class="btn btn-default btn-detail " data-id="{{HisEventId}}" title="Xem chi tiết"><i class="fa fa-list-alt"></i></button>
                                            <button class="btn btn-default btn-delete" data-id="{{HisEventId}}" title="Xóa"><i class="fa fa-trash"></i></button>*@
                                        <i class="fa fa-list-alt i-list btn-detail" title="Xem chi tiết" data-id="{{HisEventId}}" data-imglink="{{Base64ContentUrl}}" style="font-size:150%"></i>
                                        <i class="fa fa-trash i-trash btn-delete" title="Xóa" data-id="{{HisEventId}}" style="font-size:150%"></i>
                                    </td>
                                </tr>
                            </script>
                            <!--Pagination-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <strong id="lblTotalRecords"></strong>
        </div>
    </div><div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
            <ul class="paginationUL"></ul>
        </div>
    </div>
</div>
<div style="" id="loadingDiv"><div class="loader"></div></div>
@*<link href="~/css/truong.css" rel="stylesheet" />*@
<link href="~/css/hover.css" rel="stylesheet" />
@Html.Partial("_DetailEvent.cshtml")
@Html.Partial("_AddEvent.cshtml")
<script>
    var event = new eventController();
    event.initialize();
</script>
