﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/jquery-easyui-1.7.6/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/lib/jquery-easyui-1.7.6/themes/icon.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>


<script src="~/app/Controllers/event/index.js" asp-append-version="true"></script>




<div class="page-title">
    <div class="title_left">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Quản lý sự kiện</h2>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            <ol class="breadcrumb" style="float:right;">
                <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ > </a></li>
                <li><a href="#">Sự kiện > </a></li>
                <li class="active">Quản lý sự kiện</li>
            </ol>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <div box-body>

                                <div class="form-group">
                                    <label class=" control-label no-padding-right" style="font-weight:bolder;float:left;margin-top:9px;">Bộ lọc:</label>

                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="item form-group">

                                            <div class="x_content">
                                                <ul id="treeProductCategory"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>



                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">

                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr style="text-align: center; background-color: #4fb2e5;">
                                        <th width="100px">Mã nhân viên</th>
                                        <th width="150px">Tên nhân viên</th>
                                        <th width="150px">Phòng ban</th>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>10</th>
                                        <th>11</th>
                                        <th>12</th>
                                        <th>13</th>
                                        <th>14</th>
                                        <th>15</th>
                                        <th>16</th>
                                        <th>17</th>
                                        <th>18</th>
                                        <th>19</th>
                                        <th>20</th>
                                        <th>21</th>
                                        <th>22</th>
                                        <th>23</th>
                                        <th>24</th>
                                        <th>25</th>
                                        <th>26</th>
                                        <th>27</th>
                                        <th>28</th>
                                        <th>29</th>
                                        <th>30</th>
                                        <th>31</th>
                                        <th>Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-statistical"></tbody>
                            </table>
                            <script id="table-template-statistical" type="x-tmpl-mustache">
                                <tr>
                                    <td>{{StaffCode}}</td>
                                    <td>{{StaffName}}</td>
                                    <td>{{DepartmentName}}</td>
                                    <td style="text-align:right">{{Day1}}</td>
                                    <td style="text-align:right">{{Day2}}</td>
                                    <td style="text-align:right">{{Day3}}</td>
                                    <td style="text-align:right">{{Day4}}</td>
                                    <td style="text-align:right">{{Day5}}</td>
                                    <td style="text-align:right">{{Day6}}</td>
                                    <td style="text-align:right">{{Day7}}</td>
                                    <td style="text-align:right">{{Day8}}</td>
                                    <td style="text-align:right">{{Day9}}</td>
                                    <td style="text-align:right">{{Day10}}</td>
                                    <td style="text-align:right">{{Day11}}</td>
                                    <td style="text-align:right">{{Day12}}</td>
                                    <td style="text-align:right">{{Day13}}</td>
                                    <td style="text-align:right">{{Day14}}</td>
                                    <td style="text-align:right">{{Day15}}</td>
                                    <td style="text-align:right">{{Day16}}</td>
                                    <td style="text-align:right">{{Day17}}</td>
                                    <td style="text-align:right">{{Day18}}</td>
                                    <td style="text-align:right">{{Day19}}</td>
                                    <td style="text-align:right">{{Day20}}</td>
                                    <td style="text-align:right">{{Day21}}</td>
                                    <td style="text-align:right">{{Day22}}</td>
                                    <td style="text-align:right">{{Day23}}</td>
                                    <td style="text-align:right">{{Day24}}</td>
                                    <td style="text-align:right">{{Day25}}</td>
                                    <td style="text-align:right">{{Day26}}</td>
                                    <td style="text-align:right">{{Day27}}</td>
                                    <td style="text-align:right">{{Day28}}</td>
                                    <td style="text-align:right">{{Day29}}</td>
                                    <td style="text-align:right">{{Day30}}</td>
                                    <td style="text-align:right">{{Day31}}</td>
                                    <td style="text-align:right">{{TONG_CONG}}</td>
                                </tr>
                            </script>
                            <!--Pagination-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                        <select id="ddlShowPage">
                                            <option value="10" selected="selected">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                        </select>
                                        <strong id="lblTotalRecords"></strong>
                                    </div>
                                </div><div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
                                        <ul id="paginationUL"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/truong.css" rel="stylesheet" />


<script>
    var event = new eventController();
    event.initialize();
</script>
