﻿
<div id="modal-device-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title" style="margin-left: auto;">Thêm/ Sửa Thiết bị</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmDevice">
                        <input type="hidden" id="hidIdM" value="0" />
                        <input type="hidden" id="hidIdDevice" value="" />
                        <div class="item form-group" style="margin-bottom:70px;">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Loại thiết bị</label>
                            <div class="col-sm-6">
                                <select id="ddlDeviceType" class="form-control" name="ddlDeviceType">
                                    <option value="">--Chọn--</option>
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Tên</label>
                            <div class="col-sm-6">
                                <input id="txtDeviceName" class="form-control" name="txtDeviceName" value="">
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Địa chỉ IP</label>
                            <div class="col-sm-6">
                                <input id="txtIpAddress" class="form-control" name="txtIpAddress" value="">
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Cổng</label>
                            <div class="col-sm-6">
                                <input id="txtPortNo" class="form-control" name="txtPortNo" value="" type="number">
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Tên đăng nhập</label>
                            <div class="col-sm-6">
                                <input id="txtUserName" class="form-control" name="txtUserName" value="">
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Mật khẩu</label>
                            <div class="col-sm-6">
                                <input id="txtPass" class="form-control" name="txtPass" value="" type="password">
                            </div>
                        </div>
                        <div class="item form-group" style="margin-bottom:70px">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Link RTSP</label>
                            <div class="col-sm-6">
                                <input id="txtLink" class="form-control" name="txtLink" value="RTSP://">
                            </div>
                        </div>
                        
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Hãng</label>
                            <div class="col-sm-6">
                                <select id="ddlCompany" class="form-control" name="ddlCompany" disabled>
                                    <option value="">--Chọn--</option>
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Model</label>
                            <div class="col-sm-6">
                                <select id="ddlModel" class="form-control" name="ddlModel" disabled>
                                    <option value="">--Chọn--</option>
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-sm-2">

                            </div>
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Số Camera</label>
                            <div class="col-sm-6">
                                <input id="txtAmountCam" class="form-control" name="txtAmountCam" value="" type="number" disabled>
                            </div>
                        </div>



                    </form>
                    <div class="item form-group" style="float:right;margin-top:10px;">
                        <button type="button" id="btnSave" class="btn btn-light" style="background:#52BAAF;width:100px;color:white;border-color: #52BAAF;">Lưu</button>
                        <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-light" style="background:#DE593E;width:100px;color:white;border-color: #DE593E;">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
