﻿@{ ViewData["Title"] = "Thiết bị";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@*<link href="~/admin-side/css/demotest.css" rel="stylesheet" />*@
<script src="~/lib/jquery/jquery.min.js"></script>
@*<script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validate/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validate/localization/messages_vi.js"></script>*@
@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@

<script src="~/app/Controllers/device/index.js" asp-append-version="true"></script>
<div class="page-title">
    <div class="title_left" style="width:100%">


        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">QL Thiết bị </a></li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">

        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Quản lý thiết bị</h2>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <button class="btn btn-light" type="button" id="btnCreate" style="float:left;color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    </div>
                    <div class="col-sm-5">

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtKeyword" placeholder="Nhập từ khóa cần tìm kiếm..." style="border:1px solid #ced4da;box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="btnSearch" style="border:1px solid #ced4da;background:#3E6A92"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">

        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate1" style="float:right;">
                <ul class="paginationUL"></ul>
            </div>
        </div>
    </div>
    <div class="row" style=" overflow-x: auto;">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-striped table-bordered table-sm">

                        <thead>
                            <tr style="text-align: center;background-color: #2e567b;color:white">
                                <th width="50px">STT</th>
                                <th>Tên</th>
                                <th>IP/Tên miền</th>
                                <th style="min-width:70px">Loại thiết bị</th>
                                <th style="min-width:70px">Mã thiết bị(Số seri)</th>
                                <th style="min-width:70px">Bảo mật</th>
                                <th>Cổng</th>
                                <th style="min-width:70px">Trạng thái</th>
                                <th style="min-width:70px">Vận hành</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-device"></tbody>
                    </table>
                    <script id="table-template-device" type="x-tmpl-mustache">
                        <tr style="background-color: rgba(0,0,0,.00)">
                            <td style="text-align: center;">{{STT}}</td>
                            <td>{{DeviceName}}</td>
                            <td>{{IpAddress}}</td>
                            <td>{{DeviceTypeName}}</td>
                            <td>{{DeviceCode}}</td>
                            <td>{{SecurityName}}</td>
                            <td>{{PortNo}}</td>
                            <td><i class="fa linkTH i-list-not-size" style="font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;font-size: 12px;" data-id="{{DeviceId}}" data-idstatus="{{IdStatus}}">{{StatusName}}</i></td>
                            <td scope="row" style="text-align: center;">
                                @*<button class="btn btn-default btn-edit" data-id="{{DeviceId}}" title="Sửa" style="height:27px; width:27px;margin: -10px 0px 0px 0px"><i class="fa fa-pen" style=" margin-left: -8px;"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>*@
                                <i class="fa fa-pencil-square-o i-list" style="font-size:150%" data-id="{{DeviceId}}" title="Sửa"></i>
                                <i class="fa fa-trash i-list" style="font-size:150%" data-id="{{DeviceId}}" title="Xóa"></i>
                            </td>

                        </tr>
                    </script>
                    <!--Pagination-->

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                <select id="ddlShowPage">
                    <option value="10" selected="selected">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>
                <strong id="lblTotalRecords"></strong>
            </div>
        </div><div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
                <ul class="paginationUL"></ul>
            </div>
        </div>
    </div>
</div>
<link href="~/css/hover.css" rel="stylesheet" />
@Html.Partial("_AddUpdateDevice.cshtml")
<script>
    var device = new deviceController();
    device.initialize();
</script>