﻿@{
    ViewData["Title"] = "Bảng chấm công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/lib/jquery-easyui-1.7.6/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1.7.6/themes/icon.css" rel="stylesheet" />
    <script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>*@

<script src="~/lib/jquery/jquery.min.js"></script>

<script src="~/app/Controllers/statistical/statistical.js" asp-append-version="true"></script>




<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Chấm công > </a></li>
            <li class="active">Bảng chấm công</li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;width:99%">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2 style="float:left">Bảng chấm công bằng khuôn mặt</h2>
        <button class="btn btn-light" type="button" id="btnUpdate" style="float:right;color: #0b608b;"><i class="fa fa-refresh"></i> Cập nhật</button>
    </div>
   
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content" style="margin-top:15px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div box-body>
                                <div class="col-sm-2">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-5 col-sm-5" for="first-name">
                                            Mã NV
                                        </label>
                                        <div class="col-md-7 col-sm-7 ">
                                            <input type="text" id="txtStaffCode" name="txtStaffCode"  class="form-control " >
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-3">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="last-name">
                                            Phòng ban
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <select id="ddlDepartment" class="form-control" name="ddlDepartment">
                                                <option value="">--Chọn--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="last-name">
                                            Tháng
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <select id="ddlMonth" class="form-control" name="ddlMonth">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="last-name">
                                            Năm
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <input id="txtYear" required class="form-control" name="txtYear" value="" type="number">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="item form-group" style="float:right;">
                                      
                                        <button class="btn btn-light" type="button" id="btnSearch" style="float:left;color: #0b608b;"><i class="fa fa-search" ></i> Tìm kiếm</button>
                                        <button class="btn btn-light" type="button" id="btnExport" style="float:left;color: #0b608b;"><i class="fa fa-download" ></i> Xuất File</button>
                                    </div>

                                </div>
                                @*<div class="form-group">
                                        <label class=" control-label no-padding-right" style="font-weight:bolder;float:left;margin-top:9px;">Bộ lọc:</label>

                                    </div>
                                    <div class="form-group">
                                        <label for="txtDescM" class=" control-label no-padding-right" style="float:left">Mã nhân viên:</label>
                                        <div class="col-md-2 ">
                                            <input id="txtStaffCode" required class="form-control" name="txtStaffCode" value="">
                                        </div>
                                        <label for="txtDescM" class="control-label no-padding-right" style="float:left">Phòng ban:</label>
                                        <div class="col-sm-2" style="margin-bottom:10px;">

                                            <select id="ddlDepartment" class="form-control" name="ddlDepartment">
                                                <option value="">--Chọn--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                    </div>
                                    <div class="form-group">
                                        <label for="txtDescM" class=" control-label no-padding-right" style="float:left">Tháng:</label>
                                        <div class="col-sm-1" style="margin-bottom:10px;">

                                            <select id="ddlMonth" class="form-control" name="ddlMonth">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>



                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtDescM" class=" control-label no-padding-right" style="float:left">Năm:</label>
                                        <div class="col-sm-1" style="margin-bottom:10px;">

                                            <input id="txtYear" required class="form-control" name="txtYear" value="" type="number">
                                        </div>
                                        <div class="col-md-4 ">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" id="btnUpdate" style="float:left;"><i class="fa fa-sync" aria-hidden="true"></i> Cập nhật</button>
                                                <button class="btn btn-primary" type="button" id="btnSearch" style="float:left;"><i class="fa fa-search" aria-hidden="true"></i> Thực hiện</button>
                                                <button class="btn btn-success" type="button" id="btnExport" style="float:left;"><i class="fa fa-download" aria-hidden="true"></i> Xuất File</button>
                                            </span>
                                        </div>
                                    </div>*@
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate1" style="float:right;">
            <ul class="paginationUL"></ul>
        </div>
    </div>
</div>
<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">

                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr style="text-align: center; background-color: #2e567b;color:white">
                                        <th style=" min-width :50px">STT</th>
                                        <th style=" min-width :100px">Mã nhân viên</th>
                                        <th style="min-width: 150px">Tên nhân viên</th>
                                        <th style="min-width: 150px">Phòng ban</th>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>10</th>
                                        <th>11</th>
                                        <th>12</th>
                                        <th>13</th>
                                        <th>14</th>
                                        <th>15</th>
                                        <th>16</th>
                                        <th>17</th>
                                        <th>18</th>
                                        <th>19</th>
                                        <th>20</th>
                                        <th>21</th>
                                        <th>22</th>
                                        <th>23</th>
                                        <th>24</th>
                                        <th>25</th>
                                        <th>26</th>
                                        <th>27</th>
                                        <th>28</th>
                                        <th>29</th>
                                        <th>30</th>
                                        <th>31</th>
                                        <th>Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-statistical"></tbody>
                            </table>
                            <script id="table-template-statistical" type="x-tmpl-mustache">
                                <tr style="background-color: rgba(0,0,0,.00)">
                                <td style="text-align:center">{{STT}}</td>
                                    <td>{{StaffCode}}</td>
                                    <td>{{StaffName}}</td>
                                    <td>{{DepartmentName}}</td>
                                    <td style="text-align:right;{{StyleDay1}}">{{Day1}}</td>
                                    <td style="text-align:right;{{StyleDay2}}">{{Day2}}</td>
                                    <td style="text-align:right;{{StyleDay3}}">{{Day3}}</td>
                                    <td style="text-align:right;{{StyleDay4}}">{{Day4}}</td>
                                    <td style="text-align:right;{{StyleDay5}}">{{Day5}}</td>
                                    <td style="text-align:right;{{StyleDay6}}">{{Day6}}</td>
                                    <td style="text-align:right;{{StyleDay7}}">{{Day7}}</td>
                                    <td style="text-align:right;{{StyleDay8}}">{{Day8}}</td>
                                    <td style="text-align:right;{{StyleDay9}}">{{Day9}}</td>
                                    <td style="text-align:right;{{StyleDay10}}">{{Day10}}</td>
                                    <td style="text-align:right;{{StyleDay11}}">{{Day11}}</td>
                                    <td style="text-align:right;{{StyleDay12}}">{{Day12}}</td>
                                    <td style="text-align:right;{{StyleDay13}}">{{Day13}}</td>
                                    <td style="text-align:right;{{StyleDay14}}">{{Day14}}</td>
                                    <td style="text-align:right;{{StyleDay15}}">{{Day15}}</td>
                                    <td style="text-align:right;{{StyleDay16}}">{{Day16}}</td>
                                    <td style="text-align:right;{{StyleDay17}}">{{Day17}}</td>
                                    <td style="text-align:right;{{StyleDay18}}">{{Day18}}</td>
                                    <td style="text-align:right;{{StyleDay19}}">{{Day19}}</td>
                                    <td style="text-align:right;{{StyleDay20}}">{{Day20}}</td>
                                    <td style="text-align:right;{{StyleDay21}}">{{Day21}}</td>
                                    <td style="text-align:right;{{StyleDay22}}">{{Day22}}</td>
                                    <td style="text-align:right;{{StyleDay23}}">{{Day23}}</td>
                                    <td style="text-align:right;{{StyleDay24}}">{{Day24}}</td>
                                    <td style="text-align:right;{{StyleDay25}}">{{Day25}}</td>
                                    <td style="text-align:right;{{StyleDay26}}">{{Day26}}</td>
                                    <td style="text-align:right;{{StyleDay27}}">{{Day27}}</td>
                                    <td style="text-align:right;{{StyleDay28}}">{{Day28}}</td>
                                    <td style="text-align:right;{{StyleDay29}}">{{Day29}}</td>
                                    <td style="text-align:right;{{StyleDay30}}">{{Day30}}</td>
                                    <td style="text-align:right;{{StyleDay31}}">{{Day31}}</td>
                                    <td style="text-align:right">{{TONG_CONG}}</td>
                                </tr>
                            </script>
                            <!--Pagination-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <strong id="lblTotalRecords"></strong>
        </div>
    </div><div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
            <ul class="paginationUL"></ul>
        </div>
    </div>
</div>
@*<link href="~/css/truong.css" rel="stylesheet" />*@



@*<div class="page-title">
        <div class="title_left" style="margin-bottom:30px;margin-left:10px;margin-top:10px;">
            <h3>Thống kê chấm công bằng khuôn mặt</h3>
        </div>

        <div class="col-md-12">
            <div box-body>
                <div class="form-group">
                    <label class=" control-label no-padding-right" style="font-weight:bolder;float:left;margin-top:9px;">Bộ lọc:</label>

                </div>
                <div class="form-group">
                    <label for="txtDescM" class=" control-label no-padding-right" style="float:left">Mã nhân viên:</label>
                    <div class="col-md-2 ">
                        <input id="txtStaffCode" required class="form-control" name="txtStaffCode" value="">
                    </div>
                    <label for="txtDescM" class="control-label no-padding-right" style="float:left">Phòng ban:</label>
                    <div class="col-sm-2" style="margin-bottom:10px;">

                        <select id="ddlDepartment" class="form-control" name="ddlDepartment">
                            <option value="">--Chọn--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <label for="txtDescM" class=" control-label no-padding-right" style="float:left">Tháng:</label>
                    <div class="col-sm-1" style="margin-bottom:10px;">

                        <select id="ddlMonth" class="form-control" name="ddlMonth">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>



                    </div>
                </div>
                <div class="form-group">
                    <label for="txtDescM" class=" control-label no-padding-right" style="float:left">Năm:</label>
                    <div class="col-sm-1" style="margin-bottom:10px;">

                        <input id="txtYear" required class="form-control" name="txtYear" value="" type="number">
                    </div>
                    <div class="col-md-4 ">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btnUpdate" style="float:left;"><i class="fa fa-sync" aria-hidden="true"></i> Cập nhật</button>
                            <button class="btn btn-primary" type="button" id="btnSearch" style="float:left;"><i class="fa fa-search" aria-hidden="true"></i> Thực hiện</button>
                            <button class="btn btn-success" type="button" id="btnExport" style="float:left;"><i class="fa fa-download" aria-hidden="true"></i> Xuất File</button>
                        </span>
                    </div>
                </div>
            </div>





        </div>

        <div class="col-md-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr style="text-align: center; background-color: #4fb2e5;">
                                    <th width="100px">Mã nhân viên</th>
                                    <th width="150px">Tên nhân viên</th>
                                    <th width="150px">Phòng ban</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                    <th>19</th>
                                    <th>20</th>
                                    <th>21</th>
                                    <th>22</th>
                                    <th>23</th>
                                    <th>24</th>
                                    <th>25</th>
                                    <th>26</th>
                                    <th>27</th>
                                    <th>28</th>
                                    <th>29</th>
                                    <th>30</th>
                                    <th>31</th>
                                    <th>Tổng cộng</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-statistical"></tbody>
                        </table>
                        <script id="table-template-statistical" type="x-tmpl-mustache">
                            <tr>
                                <td>{{StaffCode}}</td>
                                <td>{{StaffName}}</td>
                                <td>{{DepartmentName}}</td>
                                <td style="text-align:right">{{Day1}}</td>
                                <td style="text-align:right">{{Day2}}</td>
                                <td style="text-align:right">{{Day3}}</td>
                                <td style="text-align:right">{{Day4}}</td>
                                <td style="text-align:right">{{Day5}}</td>
                                <td style="text-align:right">{{Day6}}</td>
                                <td style="text-align:right">{{Day7}}</td>
                                <td style="text-align:right">{{Day8}}</td>
                                <td style="text-align:right">{{Day9}}</td>
                                <td style="text-align:right">{{Day10}}</td>
                                <td style="text-align:right">{{Day11}}</td>
                                <td style="text-align:right">{{Day12}}</td>
                                <td style="text-align:right">{{Day13}}</td>
                                <td style="text-align:right">{{Day14}}</td>
                                <td style="text-align:right">{{Day15}}</td>
                                <td style="text-align:right">{{Day16}}</td>
                                <td style="text-align:right">{{Day17}}</td>
                                <td style="text-align:right">{{Day18}}</td>
                                <td style="text-align:right">{{Day19}}</td>
                                <td style="text-align:right">{{Day20}}</td>
                                <td style="text-align:right">{{Day21}}</td>
                                <td style="text-align:right">{{Day22}}</td>
                                <td style="text-align:right">{{Day23}}</td>
                                <td style="text-align:right">{{Day24}}</td>
                                <td style="text-align:right">{{Day25}}</td>
                                <td style="text-align:right">{{Day26}}</td>
                                <td style="text-align:right">{{Day27}}</td>
                                <td style="text-align:right">{{Day28}}</td>
                                <td style="text-align:right">{{Day29}}</td>
                                <td style="text-align:right">{{Day30}}</td>
                                <td style="text-align:right">{{Day31}}</td>
                                <td style="text-align:right">{{TONG_CONG}}</td>
                            </tr>
                        </script>
    Pagination
    <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                    <select id="ddlShowPage">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <strong id="lblTotalRecords"></strong>
                                </div>
                            </div><div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
                                    <ul id="paginationUL"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>*@
@*<script>
        var statistical = new statisticalController();
        statistical.initialize();
    </script>*@

<script>
    var statistical = new statisticalController();
    statistical.initialize();
</script>
