﻿@{
    ViewData["Title"] = "QL dữ liệu vào ra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/lib/jquery-easyui-1.7.6/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1.7.6/themes/icon.css" rel="stylesheet" />
    <script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>*@
<script src="~/lib/jquery/jquery.min.js"></script>

<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />




<script src="~/app/Controllers/statistical/inout.js" asp-append-version="true"></script>





<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Chấm công > </a></li>
            <li class="active">DL vào ra</li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;width:60%">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Tra cứu dữ liệu vào ra</h2>
    </div>

   
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div box-body>
                               
                                    <div class="col-sm-3">
                                        <div class="item form-group">

                                            <label class="col-form-label col-md-5 col-sm-5" for="first-name">
                                                Mã nhân viên
                                            </label>
                                            <div class="col-md-8 col-sm-8 ">
                                                <input type="text" id="first-name" class="form-control ">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-sm-3">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="last-name">
                                                Phòng ban
                                            </label>
                                            <div class="col-md-8 col-sm-8 ">
                                                <select id="ddlDepartment" class="form-control" name="ddlDepartment">
                                                    <option value="">--Chọn--</option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-sm-3">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-4 col-sm-4 label-align">
                                                Từ ngày
                                            </label>
                                            <div class="col-md-8 col-sm-8 form-group has-feedback">
                                                <input type="text" class="form-control date-picker" id="fromDate" placeholder="dd/MM/yyyy">
                                                <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>

                                            </div>


                                        </div>

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-4 col-sm-4 label-align">
                                                Đến ngày
                                            </label>
                                            <div class="col-md-8 col-sm-8 form-group has-feedback">
                                                <input type="text" class="form-control date-picker" id="toDate" placeholder="dd/MM/yyyy">
                                                <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>

                                            </div>
                                            @*<div class="col-md-8 col-sm-8 ">
                        <input id="toDate" name="toDate" class="date-picker form-control" placeholder="dd/MM/yyyy" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">


                    </div>*@
                                        </div>
                                    </div>
                                    <div class="item form-group" style="float:right;">
                                        <button class="btn btn-light" type="button" id="btnSearch" style="float:left;color: #0b608b;"><i class="fa fa-search"></i> Tìm</button>
                                        <button class="btn btn-light" type="button" id="btnExport" style="float:left;color: #0b608b;"><i class="fa fa-download"></i> Xuất File</button>
                                    </div>


                                </div>


                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
       
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate1" style="float:right;">
            <ul class="paginationUL"></ul>
        </div>
    </div>
</div>
<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box ">

                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr style="text-align: center;background-color: #2e567b;color:white;">
                                        <th rowspan="2" style="min-width:50px">STT</th>
                                        <th rowspan="2" style="min-width:70px">Ngày</th>
                                        <th rowspan="2" style="min-width:100px">Mã nhân viên</th>
                                        <th rowspan="2" style="min-width:150px">Tên nhân viên</th>
                                        <th rowspan="2" style="min-width:150px">Phòng ban</th>
                                        <th colspan="2" style="min-width:300px">Chấm công vào</th>
                                        <th colspan="2" style="min-width:300px">Chấm công ra</th>
                                        <th rowspan="2" style="min-width:70px">Tổng cộng</th>
                                    </tr>
                                    <tr style="text-align: center; background-color: #2e567b;color:white ">

                                        <th colspan="1" style="min-width:150px">Giờ vào</th>
                                        <th colspan="1" style="min-width:150px">Thiết bị ghi lại</th>
                                        <th colspan="1" style="min-width:150px">Giờ ra</th>
                                        <th colspan="1" style="min-width:150px">Thiết bị ghi lại</th>

                                    </tr>
                                </thead>
                                <tbody id="tbl-inout"></tbody>
                            </table>
                            <script id="table-template-inout" type="x-tmpl-mustache">
                                <tr style="background-color: rgba(0,0,0,.00)">
                                    <td style="text-align:center">{{STT}}</td>
                                    <td>{{RecordTime}}</td>
                                    <td>{{StaffCode}}</td>
                                    <td>{{FaceName}}</td>
                                    <td>{{DepartmentName}}</td>
                                    <td>{{RecordTimeIn}}</td>
                                    <td>{{DeviceNameIn}}</td>
                                    <td>{{RecordTimeOut}}</td>
                                    <td>{{DeviceNameOut}}</td>
                                    <td style="text-align:right">{{Tong}}</td>
                                </tr>
                            </script>
                            <!--Pagination-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <strong id="lblTotalRecords"></strong>
        </div>
    </div><div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
            <ul class="paginationUL"></ul>
        </div>
    </div>
</div>
@*<link href="~/css/truong.css" rel="stylesheet" />*@

<script>
    var inout = new inoutController();
    inout.initialize();
</script>




