﻿@{
    ViewData["Title"] = "Bảng chấm công theo ca kíp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/lib/jquery-easyui-1.7.6/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1.7.6/themes/icon.css" rel="stylesheet" />
    <script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>*@

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/app/Controllers/statistical/statisticalfaceshift.js" asp-append-version="true"></script>




<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Chấm công > </a></li>
            <li class="active">Bảng chấm công theo ca kíp</li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;width:99%">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2 style="float:left">Bảng chấm công theo ca kíp bằng khuôn mặt</h2>
        <button class="btn btn-light" type="button" id="btnUpdate" style="float:right;color: #0b608b;"><i class="fa fa-refresh"></i> Cập nhật</button>
    </div>
   
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content" style="margin-top:15px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div box-body>
                                <div class="col-sm-2">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-5 col-sm-5" for="first-name">
                                            Mã NV
                                        </label>
                                        <div class="col-md-7 col-sm-7 ">
                                            <input type="text" id="txtStaffCode" name="txtStaffCode" class="form-control ">
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-3">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="last-name">
                                            Phòng ban
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <select id="ddlDepartment" class="form-control" name="ddlDepartment">
                                                <option value="">--Chọn--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="last-name">
                                            Ca thiết lập
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <select id="ddlShift" class="form-control" name="ddlShift">
                                                <option value="">--Chọn--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="last-name">
                                            Tháng
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <select id="ddlMonth" class="form-control" name="ddlMonth">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="last-name">
                                            Năm
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <input id="txtYear" required class="form-control" name="txtYear" value="" type="number">
                                        </div>
                                    </div>
                                </div>



                            </div>


                        </div>
                    </div>
                        <div class="col-md-12" style="float:right;">

                            <button class="btn btn-light" type="button" id="btnSearch" style="float:right;color: #0b608b;"><i class="fa fa-search"></i> Tìm kiếm</button>
                            <button class="btn btn-light" type="button" id="btnExport" style="float:right;color: #0b608b;"><i class="fa fa-download"></i> Xuất File</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate1" style="float:right;">
            <ul class="paginationUL"></ul>
        </div>
    </div>
</div>
<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <button class="btn btn-light" type="button" id="btnCong" style="float:right;color: #0b608b;" hidden><i class="fa fa-th-large" aria-hidden="true"></i> Xem theo công </button>
                    <button class="btn btn-light" type="button" id="btnHouse" style="float:right;color: #0b608b;"><i class="fa fa-clock-o" aria-hidden="true"></i> Xem theo giờ</button>
                    <div class="col-sm-12">
                        <div class="card-box">

                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr style="text-align: center; background-color: #2e567b;color:white">
                                        <th rowspan="2" style=" min-width :50px">STT</th>
                                        <th rowspan="2" style=" min-width :100px">Mã nhân viên</th>
                                        <th rowspan="2" style="min-width: 150px">Tên nhân viên</th>
                                        <th rowspan="2" style="min-width: 150px">Phòng ban</th>
                                        <th rowspan="2" style="min-width: 100px">Ca</th>
                                        <th rowspan="2">1</th>
                                        <th rowspan="2">2</th>
                                        <th rowspan="2">3</th>
                                        <th rowspan="2">4</th>
                                        <th rowspan="2">5</th>
                                        <th rowspan="2">6</th>
                                        <th rowspan="2">7</th>
                                        <th rowspan="2">8</th>
                                        <th rowspan="2">9</th>
                                        <th rowspan="2">10</th>
                                        <th rowspan="2">11</th>
                                        <th rowspan="2">12</th>
                                        <th rowspan="2">13</th>
                                        <th rowspan="2">14</th>
                                        <th rowspan="2">15</th>
                                        <th rowspan="2">16</th>
                                        <th rowspan="2">17</th>
                                        <th rowspan="2">18</th>
                                        <th rowspan="2">19</th>
                                        <th rowspan="2">20</th>
                                        <th rowspan="2">21</th>
                                        <th rowspan="2">22</th>
                                        <th rowspan="2">23</th>
                                        <th rowspan="2">24</th>
                                        <th rowspan="2">25</th>
                                        <th rowspan="2">26</th>
                                        <th rowspan="2">27</th>
                                        <th rowspan="2">28</th>
                                        <th rowspan="2">29</th>
                                        <th rowspan="2">30</th>
                                        <th rowspan="2">31</th>
                                        <th colspan="6">Tổng cộng</th>
                                    </tr>
                                    <tr style="text-align: center; background-color: #2e567b;color:white">
                                        <th colspan="1" style="min-width:50px">Chính</th>
                                        <th colspan="1" style="min-width:50px">Phép</th>
                                        <th colspan="1" style="min-width:60px">K Phép</th>
                                        <th colspan="1" style="min-width:60px">Đi muộn</th>
                                        <th colspan="1" style="min-width:60px">Về sớm</th>
                                        <th colspan="1" style="min-width:50px">OT</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-statistical-shift"></tbody>
                            </table>
                            <script id="table-template-statistical-shift" type="x-tmpl-mustache">
                                <tr style="background-color: rgba(0,0,0,.00)">
                                <td style="text-align:center">{{STT}}</td>
                                    <td>{{StaffCode}}</td>
                                    <td>{{StaffName}}</td>
                                    <td>{{DepartmentName}}</td>
                                    <td>{{ShiftName}}</td>
                                    <td style="text-align:right;{{StyleDay1}}">{{Day1}}</td>
                                    <td style="text-align:right;{{StyleDay2}}">{{Day2}}</td>
                                    <td style="text-align:right;{{StyleDay3}}">{{Day3}}</td>
                                    <td style="text-align:right;{{StyleDay4}}">{{Day4}}</td>
                                    <td style="text-align:right;{{StyleDay5}}">{{Day5}}</td>
                                    <td style="text-align:right;{{StyleDay6}}">{{Day6}}</td>
                                    <td style="text-align:right;{{StyleDay7}}">{{Day7}}</td>
                                    <td style="text-align:right;{{StyleDay8}}">{{Day8}}</td>
                                    <td style="text-align:right;{{StyleDay9}}">{{Day9}}</td>
                                    <td style="text-align:right;{{StyleDay10}}">{{Day10}}</td>
                                    <td style="text-align:right;{{StyleDay11}}">{{Day11}}</td>
                                    <td style="text-align:right;{{StyleDay12}}">{{Day12}}</td>
                                    <td style="text-align:right;{{StyleDay13}}">{{Day13}}</td>
                                    <td style="text-align:right;{{StyleDay14}}">{{Day14}}</td>
                                    <td style="text-align:right;{{StyleDay15}}">{{Day15}}</td>
                                    <td style="text-align:right;{{StyleDay16}}">{{Day16}}</td>
                                    <td style="text-align:right;{{StyleDay17}}">{{Day17}}</td>
                                    <td style="text-align:right;{{StyleDay18}}">{{Day18}}</td>
                                    <td style="text-align:right;{{StyleDay19}}">{{Day19}}</td>
                                    <td style="text-align:right;{{StyleDay20}}">{{Day20}}</td>
                                    <td style="text-align:right;{{StyleDay21}}">{{Day21}}</td>
                                    <td style="text-align:right;{{StyleDay22}}">{{Day22}}</td>
                                    <td style="text-align:right;{{StyleDay23}}">{{Day23}}</td>
                                    <td style="text-align:right;{{StyleDay24}}">{{Day24}}</td>
                                    <td style="text-align:right;{{StyleDay25}}">{{Day25}}</td>
                                    <td style="text-align:right;{{StyleDay26}}">{{Day26}}</td>
                                    <td style="text-align:right;{{StyleDay27}}">{{Day27}}</td>
                                    <td style="text-align:right;{{StyleDay28}}">{{Day28}}</td>
                                    <td style="text-align:right;{{StyleDay29}}">{{Day29}}</td>
                                    <td style="text-align:right;{{StyleDay30}}">{{Day30}}</td>
                                    <td style="text-align:right;{{StyleDay31}}">{{Day31}}</td>
                                    <td style="text-align:right">{{CHINH}}</td>
                                    <td style="text-align:right">{{PHEP}}</td>
                                    <td style="text-align:right">{{KPHEP}}</td>
                                    <td style="text-align:right">{{MUON}}</td>
                                    <td style="text-align:right">{{SOM}}</td>
                                    <td style="text-align:right">{{OT}}</td>
                                </tr>
                            </script>
                            <!--Pagination-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <strong id="lblTotalRecords"></strong>
        </div>
    </div><div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
            <ul class="paginationUL"></ul>
        </div>
    </div>
</div>


<script>
    var statisticalFaceShift = new statisticalFaceShiftController();
    statisticalFaceShift.initialize();
</script>
