﻿
<div id="modal-add-face" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title " style="margin-left: auto;">Thêm mới khuôn mặt</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <div class="col-sm-2" id="imgdetail">

                    </div>
                    <div class="col-sm-9">
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 no-padding-right">Mã nhân viên</label>
                            <div class="col-sm-8" style="margin-bottom:10px;">
                                <input id="txtStaffCodeAdd"  class="form-control" name="txtStaffCodeAdd" value="">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 no-padding-right">Tên</label>
                            <div class="col-sm-8" style="margin-bottom:10px;">
                                <input id="txtFaceNameAdd"  class="form-control" name="txtFaceNameAdd" value="">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Ngày sinh</label>
                            <div class="col-sm-8" style="margin-bottom:10px;">
                                <input id="txtAgent" class="form-control date-picker" name="txtAgent" placeholder="dd/MM/yyyy">
                                <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Nghề nghiệp</label>
                            <div class="col-sm-8" style="margin-bottom:10px;">
                                <input id="txtJobAdd"  class="form-control" name="txtJobAdd" value="">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Phòng ban</label>
                            <div class="col-sm-8" style="margin-bottom:10px;">
                                <select id="ddlDepartmentAdd" class="form-control" name="ddlDepartmentAdd">
                                    <option value="">--Chọn--</option>
                                </select>

                            </div>
                            <div class="col-md-1 col-sm-1 form-group has-feedback">
                                <button class="btn btn-light" type="button" id="btnDepartment" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                            </div>



                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Giới tính</label>
                            <div class="col-sm-8" style="margin-bottom:10px;">
                                <select id="ddlSexAdd" class="form-control" name="ddlSexAdd">
                                    <option value="">--Chọn--</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Độ quan trọng</label>
                            <div class="col-sm-8" style="margin-bottom:10px;">
                                <select id="ddlKnownAdd" class="form-control" name="ddlKnownAdd">
                                    <option value="">--Chọn--</option>
                                    <option value="1">Tin Tưởng</option>
                                    <option value="0">Không tin tưởng</option>
                                    <option value="2">Vip</option>
                                </select>
                            </div>
                        </div>
                        <div class=" form-group">
                            <label class="col-form-label col-md-3 col-sm-3">
                                Ảnh
                            </label>


                            <div class="col-md-8 col-sm-8 form-group has-feedback">
                                <input type="file" id="inPutFile" name="inPutFile" multiple />


                            </div>
                        </div>
                        @*<div class="form-group">
                <label for="txtDescM" class=" no-padding-right">5 hình ảnh gần nhất</label>

            </div>*@



                    </div>
                    <div class="form-group" id="imgInsert">

                    </div>
                    <div class="item form-group" style="float:right;margin-top:10px;">
                        <button type="button" id="btnSave" class="btn btn-light" style="background:#52BAAF;width:100px;color:white;border-color: #52BAAF;">Lưu</button>
                        <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-light" style="background:#DE593E;width:100px;color:white;border-color: #DE593E;">Hủy</button>
                    </div>
                </div>
        </div>
    </div>
</div>
   </div>