﻿
<div id="modal-face-detail" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left: auto;">Xem chi tiết</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <div class="col-sm-4" id="imgdetailFace">

                    </div>
                    <form class="form-horizontal" role="form" id="frmFace">
                        <input type="hidden" id="hidIdFace" value="0" />
                        <div class="col-sm-8">
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 no-padding-right">Mã nhân viên</label>
                                <div class="col-sm-8" style="margin-bottom:10px;">
                                    <input id="txtStaffCodeView" class="form-control" name="txtStaffCodeView" value="">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 no-padding-right">Tên</label>
                                <div class="col-sm-8" style="margin-bottom:10px;">
                                    <input id="txtFaceNameView" class="form-control" name="txtFaceNameView" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Ngày sinh</label>
                                <div class="col-sm-8" style="margin-bottom:10px;">
                                    <input id="txtAgentView" class="form-control date-picker" name="txtAgentView" placeholder="dd/MM/yyyy">
                                    <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                                    @*<input id="txtAgentView" class="form-control" name="txtAgentView" value="">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Nghề nghiệp</label>
                                <div class="col-sm-8" style="margin-bottom:10px;">
                                    <input id="txtJobView" class="form-control" name="txtJobView" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Phòng ban</label>
                                <div class="col-sm-8" style="margin-bottom:10px;">
                                    <select id="ddlDepartmentView" class="form-control" name="ddlDepartmentView">
                                        <option value="">--Chọn--</option>
                                    </select>

                                </div>
                                <div class="col-md-1 col-sm-1 form-group has-feedback">
                                    <button class="btn btn-light" type="button" id="btnDepartmentEdit" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Giới tính</label>
                                <div class="col-sm-8" style="margin-bottom:10px;">
                                    <select id="ddlSexView" class="form-control" name="ddlSexView">
                                        <option value="">--Chọn--</option>
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                    @*<input id="txtSexView" required class="form-control" name="txtSexView" value="">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Độ quan trọng</label>
                                <div class="col-sm-8" style="margin-bottom:10px;">
                                    <select id="ddlImportantLevel" class="form-control" name="ddlImportantLevel">
                                        <option value="">--Chọn--</option>
                                        <option value="1">Tin Tưởng</option>
                                        <option value="0">Không tin tưởng</option>
                                        <option value="2">Vip</option>
                                    </select>
                                    @*<input id="txtImportantLevel" required class="form-control" name="txtImportantLevel" value="">*@
                                </div>
                            </div>
                        </div>
                    </form>
                        <div class="form-group">
                            <label for="txtDescM" class=" no-padding-right">10 hình ảnh gần nhất</label>

                        </div>
                        <div class="form-group" id="imgTop10">

                        </div>
                        <div class="item form-group" style="float:right;margin-top:10px;">
                            <button type="button" id="btnSaveEdit" class="btn btn-light" style="background:#52BAAF;width:100px;color:white;border-color: #52BAAF;">Lưu</button>
                            <button type="button" data-dismiss="modal" class="btn btn-light" style="background:#DE593E;width:100px;color:white;border-color: #DE593E;">Hủy</button>
                        </div>

                </div>
                </div>
        </div>
    </div>
</div>
