﻿@{
    ViewData["Title"] = "Cấu hình nhận diện khuôn mặt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/multiselect1/jquery.multiselect.css" rel="stylesheet" />
@*<link href="~/lib/jquery-easyui-1.7.6/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1.7.6/themes/icon.css" rel="stylesheet" />
    <script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>*@
<script src="~/lib/jquery/jquery.min.js"></script>

@*<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />*@



<script src="~/app/Controllers/face/faceconfig.js" asp-append-version="true"></script>

<script src="~/lib/multiselect1/jquery.multiselect.js"></script>



<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Khuôn măt > </a></li>
            <li class="active">Cấu hình nhận diện khuôn mặt</li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;width:60%">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Cấu hình nhận diện khuôn mặt</h2>
    </div>

   
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        
                            <div box-body>
                               
                                <div class="col-sm-3">
                                    <div class="x_panel">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-5 col-sm-5 " for="last-name">
                                                Thiết lập nhận diện
                                            </label>
                                                @*<select id="ddlConfig" class="form-control" name="ddlConfig">
            <option value="">--Chọn--</option>
            <option value="0">Thông báo về ViberID</option>
            <option value="1">Bật báo động</option>
        </select>*@
                                                <div class="col-md-7 col-sm-7 form-group has-feedback">

                                                    <select name="ddlConfig[]" multiple id="ddlConfig">
                                                        <option value="0">Thông báo về ViberID</option>
                                                        <option value="1">Bật báo động</option>
                                                    </select>

                                                </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-5 col-sm-5 " for="last-name">
                                                Thiết bị hiện có
                                            </label>
                                            <div class="col-md-7 col-sm-7 ">
                                                <select id="ddlDevice" class="form-control" name="ddlDevice">
                                                    <option value="">--Chọn--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-5 col-sm-5 " for="last-name">
                                                Loại thiết lập
                                            </label>
                                            <div class="col-md-7 col-sm-7 ">
                                                <select id="ddlStyle" class="form-control" name="ddlStyle">
                                                    <option value="1">Vào</option>
                                                    <option value="2">Ra</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="x_panel">
                                        <div class="item form-group" style="float:right;">
                                            <button class="btn btn-light" type="button" id="btnOn" style="float:left;color: #0b608b;" hidden><i class="fa fa-power-off"></i> Bật thiết bị</button>
                                            <button class="btn btn-light" type="button" id="btnOff" style="float:left;color: #0b608b;" hidden><i class="fa fa-power-off" style="color:red"></i> Tắt thiết bị</button>
                                        </div>
                                        <div class="item form-group" style="margin-top:10px">
                                            <label class="col-form-label col-md-4 col-sm-4 " for="last-name">
                                                Thời gian thực hiện
                                            </label>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                Thứ 2
                                            </label>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                    Từ
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2" for="last-name">
                                                    đến
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                <button class="btn btn-light" type="button" id="btnDepartment" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                Thứ 3
                                            </label>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                    Từ
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2" for="last-name">
                                                    đến
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                <button class="btn btn-light" type="button" id="btnDepartment" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                Thứ 4
                                            </label>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                    Từ
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2" for="last-name">
                                                    đến
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                <button class="btn btn-light" type="button" id="btnDepartment" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                Thứ 5
                                            </label>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                    Từ
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2" for="last-name">
                                                    đến
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                <button class="btn btn-light" type="button" id="btnDepartment" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                Thứ 6
                                            </label>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                    Từ
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2" for="last-name">
                                                    đến
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                <button class="btn btn-light" type="button" id="btnDepartment" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                Thứ 7
                                            </label>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                    Từ
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2" for="last-name">
                                                    đến
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                <button class="btn btn-light" type="button" id="btnDepartment" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                Chủ nhật
                                            </label>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2 " for="last-name">
                                                    Từ
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 ">
                                                <label class="col-form-label col-md-2 col-sm-2" for="last-name">
                                                    đến
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                                                    <input type="number" class="form-control" id="fromTime" placeholder="00" min="1" max="23">
                                                    <input type="number" class="form-control form-control-face" aria-hidden="true" id="fromTime" placeholder="00">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                <button class="btn btn-light" type="button" id="btnDepartment" style="color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                        <div class="item form-group" style="float:left;">
                                            <button class="btn btn-light" type="button" id="btnHuy" style="float:left;color: white;background:red" hidden> Hủy thiết lập</button>
                                        </div>
                                    </div>
                                </div>
                                   
                                    


                                </div>


                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<link href="~/css/truong.css" rel="stylesheet" />*@

<script>
    var faceconfig = new faceconfigController();
    faceconfig.initialize();
</script>




