﻿@{ ViewData["Title"] = "Quản lý khuôn mặt";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/lib/jquery/jquery.min.js"></script>

<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/app/Controllers/face/index.js" asp-append-version="true"></script>




<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Quản lý khuôn mặt</a></li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Quản lý khuôn mặt</h2>
    </div>


</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="col-sm-9">
                    <label>
                        Tìm kiếm bộ lọc nâng cao
                    </label>
                    <div class="x_panel">

                        <div class="col-sm-4">

                            <div class="item form-group">

                                <label class="col-form-label col-md-4 col-sm-4 ">
                                    Mã NV
                                </label>
                                <div class="col-md-8 col-sm-8 form-group has-feedback">
                                    <input type="hidden" id="hidIdSearch" value="" />
                                    <input type="text" class="form-control" id="txtStaffCode" name="txtStaffCode" placeholder="">

                                </div>

                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-4 col-sm-4 ">
                                    Tên
                                </label>
                                <div class="col-md-8 col-sm-8 form-group has-feedback">
                                    <input type="text" class="form-control" id="txtFaceName" name="txtFaceName" placeholder="">


                                </div>
                            </div>
                            <!--Pagination-->


                        </div>
                        <div class="col-sm-4">

                            <div class="item form-group">
                                <label class="col-form-label col-md-5 col-sm-5">
                                    Phòng ban
                                </label>
                                <div class="col-md-8 col-sm-8 form-group has-feedback">
                                    <select id="ddlDepartment" class="form-control" name="ddlDepartment">
                                        <option value="">--Chọn--</option>
                                    </select>

                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-5 col-sm-5">
                                    Nghề nghiệp
                                </label>
                                <div class="col-md-8 col-sm-8 form-group has-feedback">
                                    <input type="text" class="form-control" id="txtJob" name="txtJob" placeholder="">

                                </div>


                            </div>
                            <!--Pagination-->
                        </div>
                        <div class="col-sm-4">

                            <div class="item form-group">
                                <label class="col-form-label col-md-5 col-sm-5 ">
                                    Giới tính
                                </label>
                                <div class="col-md-7 col-sm-7 form-group has-feedback">
                                    <select id="ddlSex" class="form-control" name="ddlSex">
                                        <option value="">--Chọn--</option>
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>


                                </div>


                            </div>
                            <div class="item form-group">

                                <label class="col-form-label col-md-5 col-sm-5 ">
                                    Trạng thái
                                </label>
                                <div class="col-md-7 col-sm-7 form-group has-feedback">
                                    <select id="ddlKnown" class="form-control" name="ddlKnown">
                                        <option value="">--Chọn--</option>
                                        <option value="1">Known</option>
                                        <option value="0">Unknown</option>
                                    </select>


                                </div>

                            </div>
                            <!--Pagination-->
                            <div class="item form-group" style="float:right;">
                                <button class="btn btn-light" type="button" id="btnSearch" style="float:right;color: #0b608b;"><i class="fa fa-search"></i> Tìm kiếm</button>


                            </div>
                        </div>
                    </div>
                    <!--Pagination-->

                </div>
                <div class="col-sm-3">
                    <label>
                        Tìm kiếm bộ lọc cơ bản
                    </label>
                    <div class="x_panel">



                        <div class="item form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtKeyword" placeholder="Nhập từ khóa cần tìm kiếm..." style="border:1px solid #ced4da;box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="btnSearchCB" style="border:1px solid #ced4da;background:#3E6A92"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>



                    </div>

                </div>



            </div>
        </div>
    </div>
</div>

<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="col-sm-12">

                                <button class="btn btn-light" type="button" id="btnDelete" style="float:right;color: #0b608b;"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
                                <button class="btn btn-light" type="button" id="btnCreate" style="float:right;color: #0b608b;"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>


                            </div>

                            <div class="form-group" id="viewImage">



                            </div>

                        </div>
                        <!--Pagination-->
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                    <select id="ddlShowPage">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <strong id="lblTotalRecords"></strong>
                                </div>
                            </div><div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
                                    <ul id="paginationUL"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<link href="~/css/truong.css" rel="stylesheet" />*@
<link href="~/css/hover.css" rel="stylesheet" />
@Html.Partial("_AddFace.cshtml")
@Html.Partial("_AddDepartment.cshtml")
@Html.Partial("_DetailFace.cshtml")
<div style="" id="loadingDiv"><div class="loader"></div></div>

<script>
    var face = new faceController();
    face.initialize();
</script>
